1. 라이브러리 불러오기

In [3]:
!pip install graphviz

Collecting graphviz
  Downloading graphviz-0.20.3-py3-none-any.whl.metadata (12 kB)
Downloading graphviz-0.20.3-py3-none-any.whl (47 kB)
   ---------------------------------------- 0.0/47.1 kB ? eta -:--:--
   ----------------- ---------------------- 20.5/47.1 kB 330.3 kB/s eta 0:00:01
   ---------------------------------------- 47.1/47.1 kB 594.9 kB/s eta 0:00:00
Installing collected packages: graphviz
Successfully installed graphviz-0.20.3

In [5]:
import pandas as pd
import numpy as np
import xgboost as xgb
import graphviz
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from IPython.display import Image

In [7]:
from xgboost import XGBRegressor

In [25]:
# 데이터 로드
url = "C:/Users/user/Downloads/vgsales.csv"
data = pd.read_csv(url)

In [27]:
data = data.drop(columns=["Unnamed: 0"], errors="ignore") #특징이 아닌 첫번째 데이터 삭제
data.head() #5번째 행까지 데이터 보기

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

2. 데이터 전처리

In [33]:
#결측치 확인
print(data.isnull().sum())

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

Year는 수치형 변수이므로, 결측치를 중앙값으로 대체.

In [37]:
data['Year'] = data['Year'].fillna(data['Year'].median())

In [ ]:
publisher는 범주형 변수이므로, 결측치를 최빈값으로 대체.

In [41]:
# 최빈값(모드)으로 결측치 채우기
data['Publisher'] = data['Publisher'].fillna(data['Publisher'].mode()[0])

In [43]:
# 중복된 행 확인
duplicates = data.duplicated()
print(f"중복된 데이터 개수: {duplicates.sum()}")

중복된 데이터 개수: 0

In [47]:
# 불필요한 열 제거
data.drop(['Name'], axis=1, inplace=True)

In [53]:
# 범주형 데이터 원-핫 인코딩
categorical_cols = ['Platform', 'Genre', 'Publisher']
data = pd.get_dummies(data, columns=categorical_cols, drop_first=True)